<% include ./head %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="landing">
    <div>
     <a href="/games"><button type="button" class="btn btn-primary">Enter</button></a></li>
    </div>
  </body>
