<!DOCTYPE html>
<html>
  <head>
    <title>Games</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Games</h1>

<table>
<th>Title</th>
<th>Year</th>

      <% games.forEach(function(game) { %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.releaseYear %></td>
        <td>
        <a href="/games/<%= game.id %>?_method=DELETE">delete</a>
        </td>
        <td><a href="/games/<%= game.id %>">show</a></td>

      </tr>
      <% }) %>
</table>
    <p><a href="/games/new">Add New Game</a></p>
  </body>
</html>
