
<h2>Enter a Game</h2>
<form action="/games" method="post">
  <label>Title:
    <input type="text" name="title">
  </label><br>
  <label>Release Year:
    <input type="text" name="releaseYear">
  </label><br>
  <input type="submit" value="Add Game">
</form>
